@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 0%;

    --muted: 0 0% 100%;
    --muted-foreground: 0 0% 0%;

    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 0% 0%;
    --destructive-foreground: 0 0% 0%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;

    --radius: 0rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Times New Roman", Times, serif;
    text-transform: lowercase;
    background-color: #ffffff !important;
  }
}

body,
body * {
  color: #000000 !important;
  box-shadow: none !important;
}

body * {
  background-color: transparent !important;
}

a {
  text-decoration: underline;
}

.legal,
.legal * {
  text-transform: none !important;
}
